---
layout: default
lang: en
active: home
topnav: home
subnav:
title: My website
---
<div id="homeContentWrap">
<div id="leftColAndLatestArticleWrap">
<div id="leftColWrap">
<div id="myPhotoWrap">
    <div id="myPhotoImg">
        <span>photo</span>
    </div>
    <div id="myPhotoText">
        <span> *** *** this is my website</span>
    </div>
</div>

<div id="bookAdWrap">
    <div id="bookAdProduct">
        <span>book cover</span>
    </div>
    <div id="bookAdText">
        <span>book title</span>
        <br>
        <a href="#">price $ **</a>
    </div>
</div>
</div>
<div id="latestArticle">
    {% assign sortedposts = (site.posts | where: "lang", "en" ) %}
    {% for post in sortedposts | limit : 1 %}
    <a href="{{post.url}}"><h2>{{post.title}}</h2></a>
    <span>{{post.date}}</span>
    {{ post.content | remove: post.title | truncatewords:500}}
    {% endfor %}
</div>
</div>
{% for post in sortedposts | offset: 1 | limit: 3 %}
<div class="olderPost">
     <a href="{{post.url}}"><h2>{{post.title}}</h2></a>
    {{ post.content | remove: post.title | truncatewords:100}}
</div>
{% endfor %}
</div>
