---
layout: default
lang: lv
active: home
topnav: home
subnav:
title: Mana vietne
---
<div id="homeContentWrap">
<div id="leftColAndLatestArticleWrap">
<div id="leftColWrap">
<div id="myPhotoWrap">
    <div id="myPhotoImg">
        <span>fotogrāfija</span>
    </div>
    <div id="myPhotoText">
        <span> *** *** Šī ir mana interneta vietne</span>
    </div>
</div>

<div id="bookAdWrap">
    <div id="bookAdProduct">
        <span>grāmatas vāks</span>
    </div>
    <div id="bookAdText">
        <span>Grāmatas nosaukums</span>
        <br>
        <a href="#">cena $ **</a>
    </div>
</div>
</div>
<div id="latestArticle">
    {% assign sortedposts = (site.posts | where: "lang", "lv" ) %}
    {% for post in sortedposts | limit : 1 %}
    <a href="{{post.url}}"><h2>{{post.title}}</h2></a>
    <span>{{post.date}}</span>
    {{ post.content | remove: post.title | truncatewords:500}}
    {% endfor %}
</div>
</div>
{% for post in sortedposts | offset: 1 | limit: 3 %}
<div class="olderPost">
     <a href="{{post.url}}"><h2>{{post.title}}</h2></a>
    {{ post.content | remove: post.title | truncatewords:100}}
</div>
{% endfor %}
</div>